
.box {
    grid-column: 1 / 5;
    margin: 10px;
    outline: thick solid #000000 2px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

.box>:first-child {
    width: 80%
}

.content {
    background-color: gray;

}