.box {
    outline-style: solid;
    outline-width: 2px;
    outline-color: black;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.flexbox {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 80%;
}

.flexbox:first-child {
    flex: 80%;
}


.content {
    background-color: grey;
}