.box {
    margin: 10px;
    outline: thick solid #000000;
    outline-width: 2px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;   
}

.flexbox {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 80%;
}

.content {
    background-color: grey;
}

.moving_square {
    background-color: red;
    animation-name: myAnime;
    animation-duration: 5s;
    animation-iteration-count: 5;
}

@keyframes myAnime {
    0% {background-color: red; left: 0px; top: 0px}
    25% {background-color: green; left: 0px; top: 300px;}
    50% {background-color: blue; left: 300px; top: 300px;}
    75% {background-color: yellow; left: 300px; top: 0px;}
    100% {background-color: red; left: 0px; top: 0px}
}