
.box {
    grid-column: 1 / 5;
    margin: 10px;
    outline: thick solid #000000 2px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

.box>:first-child {
    width: 80%
}

.content {
    background-color: gray;
}

.moving_square {
    background-color: red;
    width: 100px;
    height: 100px;
    animation-name: anim;
    animation-duration: 5s;
    animation-iteration-count: 5;
}

@keyframes anim {
    0% {top: 0; left: 0; background-color: red;}
    25% {top: 300px; left: 0; background-color: green;}
    50% {top: 300px; left: 300px; background-color: blue;}
    75% {top: 0px; left: 300px; background-color: yellow;}
}